<!DOCTYPE html>
<html lang="en">
<head>
   
   {{>scripts}}
</head>
<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main-header-left -->
                    <div class="col-md-6 col-12 main_header_left">
                        
                    <img src="images/404.jfif" alt="">
                    </div>
                      <!-- main-header-right -->
                    <div class="col-md-6 col-12 main_header_right">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    {{>footer}}
</body>
</html>